In [1]:
# Comprobamos que la variable saprk (SparkSession) existe
spark

In [2]:
#  Leer el fichero de ejemplo
df = spark.read.json("../databricks/people.json")

In [3]:
# Mostrar las estructura
df.show()

+---+-------------+---+-----------------+--------------+
|age|         city| id|             name|    occupation|
+---+-------------+---+-----------------+--------------+
| 23|San Francisco|  1|      Jules Damji|      Advocate|
| 42|       London|  2|      Arther Dent|  Hitch-hicker|
| 37|     Milkyway|  3|Zaphod Beeblebrox|       Wiseman|
| 42|        Essex|  4|     Ford Prefect|       Realtor|
| 45|    Andromeda|  5|         Trillian|Space-Traveler|
| 67|          M33|  6|    Slartibarfast|       Creator|
| 23|          X33|  7|      Random Dent|     Invisible|
+---+-------------+---+-----------------+--------------+

In [4]:
# Ver el esquema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- occupation: string (nullable = true)

In [5]:
# La selección se puede hacer por atributo (nombre de columna) o indice --> df.age === df['age'] (RECOMENDADO)
df.select("name").show()

+-----------------+
|             name|
+-----------------+
|      Jules Damji|
|      Arther Dent|
|Zaphod Beeblebrox|
|     Ford Prefect|
|         Trillian|
|    Slartibarfast|
|      Random Dent|
+-----------------+

In [6]:
# se pueden combinar operaciones
df.select(df['name'], df['age'] + 1).show()

+-----------------+---------+
|             name|(age + 1)|
+-----------------+---------+
|      Jules Damji|       24|
|      Arther Dent|       43|
|Zaphod Beeblebrox|       38|
|     Ford Prefect|       43|
|         Trillian|       46|
|    Slartibarfast|       68|
|      Random Dent|       24|
+-----------------+---------+

In [7]:
# Operaciones de filtrado
df.filter(df['age'] > 25).show()

+---+---------+---+-----------------+--------------+
|age|     city| id|             name|    occupation|
+---+---------+---+-----------------+--------------+
| 42|   London|  2|      Arther Dent|  Hitch-hicker|
| 37| Milkyway|  3|Zaphod Beeblebrox|       Wiseman|
| 42|    Essex|  4|     Ford Prefect|       Realtor|
| 45|Andromeda|  5|         Trillian|Space-Traveler|
| 67|      M33|  6|    Slartibarfast|       Creator|
+---+---------+---+-----------------+--------------+

In [8]:
# Operaciones de agregación
df.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 67|    1|
| 37|    1|
| 42|    2|
| 23|    2|
| 45|    1|
+---+-----+

In [9]:
# Convertimos a un Pandas DF
pandasDF = df.toPandas()

In [10]:
# Observamos los datos
display(pandasDF)

   age           city  id               name      occupation
0   23  San Francisco   1        Jules Damji        Advocate
1   42         London   2        Arther Dent    Hitch-hicker
2   37       Milkyway   3  Zaphod Beeblebrox         Wiseman
3   42          Essex   4       Ford Prefect         Realtor
4   45      Andromeda   5           Trillian  Space-Traveler
5   67            M33   6      Slartibarfast         Creator
6   23            X33   7        Random Dent       Invisible